.order-summary-text {
  font-size: 85px;
  margin-left: 2vw;
  font-weight: bold;
}

.back-to-menu-navigation {
  display: flex;
}

.back-icon {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-to-menu-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  color: #808080;
}

.buttons-modal {
  margin-top: 5vh;
}

.close-button {
  font-size: 60px;
}

.modal-box {
  height: 45vh;
  border-radius: 32px;
  min-width: 80vw;
}


.line-item-count{
  height: 90%;
  border-left: none;
  border-right: none;
}

.modal-subtitle {
  font-size: 50px;
  width: 80%;
}








