.page{
  width: 100%;
  height: 1660px;
  // border: 2px solid red;
  background-color: rgba(244, 169, 101, 0.3);
}
img{
  width: 100%;
  height: 30vh;
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
}
.text-title{
  font-size: 60px;
}
.text-description{
  font-size: 45px;
}
// .borderred{
//   border: 2px solid red;
// }

wrapper {
  max-width: 75%;
  margin: auto;
}


.textarea-menu-item {
  width: 100%;
  min-height: 200px;
  resize: none;
  background-color: #F3F3F3;
  border-radius: 32px;
  border: 1px solid #ddd;
  padding: 0.5rem;
  color: #666;
  box-shadow: inset 0 0 0.25rem #ddd;
  &:focus {
    outline: none;
    border: 1px solid darken(#ddd, 5%);
    box-shadow: inset 0 0 0.5rem darken(#ddd, 5%);
  }
  &[placeholder] {
    font-style: italic;
    font-size: 30px;
  }
}

#the-count {
  float: right;
  padding: 0.1rem 0 0 0;
  font-size: 0.875rem;
}


.biggerbtn{
   height: 130px;
   width: 300px;
   border-radius:32px;
   font-size: 50px;
   font-weight: bold;
   background-color: rgb(244, 169, 101);
   border: none;

}
.cont{
  margin: 0 8%;
}
.margin25{
  width: 190px;
}
