.page{
  width: 100%;
  // height: 100vh;
  // border: 2px solid red;
  // background-color: rgba(244, 169, 101, 0.3);
  // overflow: auto;
  img{
    width: 100%;
    height: 30vh;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
  }
}

.text-title{
  font-size: 60px;
  font-weight: bold;
}

.text-price  {
  font-size: 50px;
}

.text-description{
  font-size: 45px;
}

.textarea-menu-item {
  width: 100%;
  min-height: 200px;
  resize: none;
  background-color: #F3F3F3;
  border-radius: 32px;
  border: 1px solid #ddd;
  padding: 0.5rem;
  color: #666;
  box-shadow: inset 0 0 0.25rem #ddd;
  &[placeholder] {
    font-style: italic;
    font-size: 45px;
  }
}

#the-count {
  float: right;
  padding: 0.1rem 0 0 0;
  font-size: 0.875rem;
}


.biggerbtn{
   height: 130px;
   width: 300px;
   border-radius:32px;
   font-size: 50px;
   font-weight: bold;
   background-color: rgb(244, 169, 101) !important;
   border: none;

   &:hover{
    color: white !important;
    text-decoration: none !important;
    background-color: black !important;
    transition: transform 0.3s;
    transform: scale(0.95);
  }
}

.cont{
  margin: 8% 8%;
  overflow: auto;

  h4 {
    font-weight: bold;
    font-size: 45px;
    font-style: italic;
  }
}

.counter-white{
  background-color:white;
  // border: 1px solid black;
}



.toggler-add-btn {
  width: 84%;
  position: fixed;
  bottom: 1vh;
}


.light-weight{
  font-weight: lighter;
  font-size: 45px;
}

.custom-control-label::before{
  width: 40px;
  height: 40px;
  border-color:#f4a965 ;
  margin-top: 0.4rem;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color:#f4a965;

}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after{
  /* background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='white' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E"); */
  width: 40px;
  height: 40px;
  border-color:#f4a965 ;
  position: absolute;
  top: .45em;
  font-size: 1.3em;
  line-height: 0.8;
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem #f4a965;

}
.custom-control-input:active~.custom-control-label::before{
  background-color:green;
  width: 40px;
  height: 40px;
}

/** focus shadow pinkish **/
.custom-checkbox .custom-control-input:focus~.custom-control-label::before{
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem #f4a965;
  border-color:#f4a965 ;
  width: 40px;
  height: 40px;
}
