.main-container-splash {
  height: 90vh;
  background-color: rgba(244, 169, 101, 0.4);
}

.logo-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 90px;
  color: black;

  img {
  width: 400px;
  height: 400px;
  }
}

.splash-title {
  font-size: 60px;
  font-weight: bold;
  font-family: Halant;
  box-shadow: none;
}

.splash-subtitle {
  font-size: 40px;
  width: 80%;
}

.name-menu-holder {
  margin: 20vh auto;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20vh auto;
  }

  input {
    border-radius: 32px;
    height: 130px;
    width: 750px;
    font-size: 40px;
    background: white;
    border: none;
  }
}

