<div class="card-item">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-item-infos">
    <div class="d-flex justify-content-between menu-item-title">
      <h2><%= @menu_items.first.title %></h2>
      <h2>$<%= @menu_items.first.item_price %></h2>
    </div>
    <div class="menu-item-description">
      <p><%= @menu_items.first.description %></p>
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn btn-outline-dark">Add</button>
    </div>
  </div>
</div>
