<tr>
  <td><p class="card-text"><strong><%= line.menu_item.title %></strong></p></td>
  <td><p class="card-text"><%= line.comment %></p></td>
  <td><p class="card-text"><strong><%= line.quantity %></strong></td>
</tr>
