<!-- <div class="container mt-5 p-5 shadow bg-white" style="border-radius: 60px">
  <h5 class="mb-4 ml-4" >Order# <%#= @order.id %></h5>
  <div class="row">
    <div class="col-8 mx-auto">
      <%#= simple_form_for @order, url: order_path(@order) do |f| %>
        <div class="row g-3 " style="margin: 2em -10em !important;">
          <div class="col-6">
            <%#= f.input :table, label: 'Change table for customer', collection: @tables  %>
          </div>
          <div class="col-6 ">
            <%#= f.input :status, label: 'Payment Status', collection: ['not paid','paid'], selected: @order.status %>
          </div>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
          <%#= link_to 'Cancel',orders_path, class:"btn btn-outline-secondary h-25" %>
          <%#= f.button :submit, class:"btn btn-primary" %>
        </div>
      <%# end %>
    </div>
  </div>
</div>
 -->
<p>from the edit view</p>
