<div class="main-container-splash p-5">
  <% if notice.present? %>
    <div class="alert alert-primary alert-dismissible fade show" role="alert" style="font-size: 50px;">
      <p><%= notice %></p>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
  <div class="logo-holder">
    <%= image_tag "logo.png", class: "animate-bouncing", alt: "alttext"%>
    <br>
    <div class="anime-logo">
      <svg
          id="rj-logo-anime"
          width="428"
          height="155"
          viewBox="0 0 428 155"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          >
        <path d="M27.3563 109.828L27.3624 109.832L27.3686 109.835C35.286 114.289 44.0376 116.508 53.592 116.508C63.2396 116.508 72.0397 114.29 79.9594 109.835L79.9656 109.832L79.9717 109.828C87.8862 105.278 94.1254 98.9873 98.6723 90.9808C103.23 82.9557 105.492 73.8636 105.492 63.744C105.492 53.6244 103.23 44.5323 98.6723 36.5073C94.125 28.5 87.8839 22.2556 79.9655 17.8001C72.0455 13.2475 63.243 10.98 53.592 10.98C44.034 10.98 35.2801 13.2489 27.3624 17.8001C19.4422 22.2567 13.1558 28.5488 8.5146 36.6461L8.51166 36.6513C3.95546 44.6741 1.692 53.7177 1.692 63.744C1.692 73.7706 3.9555 82.859 8.50779 90.9739L8.51312 90.9834L8.51859 90.9928C13.1606 98.9929 19.4447 105.279 27.3563 109.828ZM71.707 97.4363L71.6974 97.442C66.379 100.56 60.357 102.132 53.592 102.132C46.8293 102.132 40.7563 100.561 35.3376 97.4391C30.0268 94.3246 25.8015 89.8808 22.6605 84.064C19.6252 78.2658 18.084 71.5066 18.084 63.744C18.084 55.8797 19.6275 49.1243 22.658 43.4288C25.8002 37.6079 30.028 33.1615 35.3426 30.0461C40.6578 26.9302 46.7271 25.356 53.592 25.356C60.4569 25.356 66.5262 26.9302 71.8414 30.0461C77.1529 33.1597 81.3297 37.6018 84.3753 43.416L84.3819 43.4287L84.3888 43.4413C87.5107 49.1341 89.1 55.8848 89.1 63.744C89.1 71.5032 87.5123 78.2591 84.384 84.0556L84.3796 84.0638L84.3753 84.072C81.3332 89.8796 77.1132 94.321 71.707 97.4363ZM143.424 36.1006C140.47 37.8462 137.959 40.0592 135.895 42.7291V35.088V33.588H134.395H121.291H119.791V35.088V114V115.5H121.291H134.395H135.895V114V71.088C135.895 63.3223 137.687 57.7776 141.006 54.1766C144.304 50.5987 149.347 48.684 156.427 48.684H159.883H161.383V47.184V33.648V32.148H159.883C153.536 32.148 148.032 33.4381 143.437 36.0932L143.43 36.0969L143.424 36.1006ZM187.646 37.5363L187.637 37.5419C181.724 41.0496 177.073 46.0093 173.688 52.3799C170.288 58.6809 168.614 65.9884 168.614 74.256C168.614 82.434 170.29 89.7819 173.681 96.2633C177.063 102.729 181.71 107.786 187.621 111.393L187.63 111.398C193.634 115 200.286 116.796 207.554 116.796C214.594 116.796 220.816 115.257 226.167 112.127L226.176 112.122L226.185 112.116C229.886 109.882 232.973 107.218 235.43 104.12V114V115.5H236.93H250.178H251.678V114V7.44001V5.94001H250.178H236.93H235.43V7.44001V44.5595C232.793 41.4612 229.49 38.8727 225.543 36.79C220.04 33.7906 214.083 32.292 207.698 32.292C200.346 32.292 193.651 34.0337 187.646 37.5363ZM222.771 50.057L222.789 50.0676L222.807 50.0778C226.671 52.2346 229.739 55.3812 232.012 59.5643C234.272 63.7232 235.43 68.6521 235.43 74.4C235.43 80.1444 234.274 85.1253 232.009 89.3859C229.734 93.569 226.662 96.7674 222.788 99.0206C218.997 101.186 214.793 102.276 210.146 102.276C205.501 102.276 201.3 101.187 197.51 99.0243C193.733 96.7735 190.705 93.5753 188.427 89.3859C186.164 85.1285 185.006 80.1008 185.006 74.256C185.006 68.5081 186.164 63.5792 188.424 59.4203C190.702 55.2282 193.728 52.0807 197.498 49.9264C201.291 47.759 205.496 46.668 210.146 46.668C214.784 46.668 218.981 47.8012 222.771 50.057ZM286.926 35.088V33.588H285.426H272.322H270.822V35.088V114V115.5H272.322H285.426H286.926V114V35.088ZM339.872 47.388H341.372V45.888V35.088V33.588H339.872H324.812V29.472C324.812 24.4512 325.937 21.2581 327.806 19.467L327.807 19.4661C329.783 17.5688 333.373 16.428 339.008 16.428H340.508V14.928V3.98401V2.48401H339.008C328.778 2.48401 320.988 4.56924 315.976 9.05753C311.023 13.4844 308.708 20.4125 308.708 29.472V33.588H299.984H298.484V35.088V45.888V47.388H299.984H308.708V114V115.5H310.208H323.312H324.812V114V47.388H339.872ZM424.507 35.6564L425.354 33.588H423.119H409.583H408.551L408.182 34.5517L385.094 94.8504L361.733 34.5462L361.362 33.588H360.335H345.791H343.559L344.402 35.6544L375.994 113.135L360.674 150.584L359.828 152.652H362.063H375.599H376.605L376.987 151.72L424.507 35.6564ZM271.694 20.7407C273.71 22.7566 276.206 23.772 279.09 23.772C281.891 23.772 284.298 22.7468 286.214 20.7259C288.22 18.7125 289.23 16.2213 289.23 13.344C289.23 10.4668 288.22 7.97555 286.214 5.96217C284.298 3.94136 281.891 2.91601 279.09 2.91601C276.206 2.91601 273.71 3.93138 271.694 5.94735C269.678 7.96333 268.662 10.4597 268.662 13.344C268.662 16.2283 269.678 18.7247 271.694 20.7407Z" stroke="black" stroke-width="3"/>
      </svg>
    </div>
    <br>
    <div class="mt-0 splash-subtitle">To continue please enter your phone number</div>
  </div>
   <br>

  <form class="form-splash" action="/tables/<%= params[:table_id] %>/orders" method="post">
    <input style="padding-left: 180px;" class="focus:outline-none focus:ring-4 focus:ring-yellow-500 focus:border-transparent" id="phone" type="tel" name="order[user_number]">
    <button class="btn mt-4 btn-call2-action" type="submit">Go to menu</button>
    <input name="authenticity_token" type="hidden" value="f755bb0ed134b76c432144748a6d4b7a7ddf2b71" />
  </form>

</div>
