<div class="main-container-splash p-5">
  <div class="logo-holder">
    <%= image_tag "logo.png", alt: "alttext"%>
    <div class="mt-0 splash-title">Welcome to Ordify</div>
    <br>
    <div class="mt-0 splash-subtitle">To continue please enter your phone number</div>
  </div>
   <br>
   <%= simple_form_for [@table, @order], html: { class: "form-splash"}, url: table_orders_path  do |f| %>
   <%= f.input :user_number, label: '', class: "px-4", placeholder: "+52 5575187010" %>
   <%= f.button :submit, 'Go to menu', class: "btn mt-4 btn-call2-action" %>
   <% end %>
</div>
