<div class="main-container-splash p-5">
  <div class="logo-holder">
    <%= image_tag "logo.png", alt: "alttext"%>
    <div class="mt-0 splash-title">Welcome to Ordify</div>
    <br>
    <div class="mt-0 splash-subtitle">To continue please enter your phone number</div>
  </div>
  <form novalidate="novalidate" class="form-splash" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
    <input class="px-4" placeholder="+52 5575187010" type="text" name="search[query]" id="search_query">
     <br><br>
    <a class="btn-call2-action btn-sticky" href="#">Go to menu</a>
  </form>
</div>

