<div class="main-container-menu-item-index">
  <div class="continer">
    <div class="card text-center">
      <div class="card-header">
        Ordify
      </div>
      <div class="card-body">
        <h5 class="card-title">Thank you for your payment</h5>
      </div>
      <div class="card-footer text-muted">
        <%= Date.today %>
      </div>
    </div>
  </div>
</div>
<%= link_to "OK", new_table_order_path(@order.table), class:"btn-call2-action btn-sticky" %>
