<div class="continer">
  <div class="card text-center">
    <div class="card-header">
      Ordify
    </div>
    <div class="card-body">
      <h5 class="card-title">Thank you for your payment</h5>
    </div>
    <div class="card-footer text-muted">
      <%= Date.today %>
    </div>
  </div>
</div>
