.btn-call2-action {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 32px;
  height: 130px;
  width: 750px;
  background-color: rgb(244, 169, 101);
  text-decoration: none;
  font-size: 50px;
}
