.btn-call2-action {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 32px;
  height: 130px;
  width: 84vw;
  background-color: rgb(244, 169, 101) !important;
  text-decoration: none;
  font-size: 50px;

  &:hover{
    color: white !important;
    text-decoration: none !important;
    background-color: black !important;
  }
}
