.iti__active {
  margin-top: 50px;
}

.position-arrow {
  transform: scale(4);
  position: absolute;
  left: 130px;
}

// .iti__flag {
//   background-image: url("https://res.cloudinary.com/dto4xa4hp/image/upload/v1605292933/samples/ecommerce/accessories-bag.jpg");
//   transform: scale(4);
//   position: absolute;
//   left: 70px;
// }

// .iti__country-name {
//   font-size: 30px;
//   padding-left: 100px;
// }

// .iti__dial-code {
//   font-size: 30px;
// }

// .iti__country, .iti__divider {
//   margin-bottom: 50px;
// }

// @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
//   .iti__flag {background-image: url("path/to/flags@2x.png");}
// }


