.height-130 {
  height: 130px;
}

.b-radius-32 {
  border-radius: 32px;
}

.text-35 {
  font-size: 35px;
}

.text-fontawesome {
  font-family: Arial, FontAwesome;
  font-style: normal;
}

.background-shallow-grey {
  background-color: #F7F6F6;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
