<div class="main-container-categories">
  <div class="menu-background">
      <h1><%= @target_restaurant.name %></h1>
  </div>
  <div class="d-flex flex-wrap categories-cards">
    <% @categories.each do |category|  %>
      <%= link_to category_menu_items_path(category) do %>
        <div class="d-flex justify-content-center align-items-center category-card">
            <p> <%= category.title%></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<%= link_to "Go to order", order_line_items_path(@order) , class:"btn-call2-action btn-sticky" %>
