<!-- <div id="container">
  <h2>NProgress Bar</h2>
  <button type="button" id="start">Start <span class="fa fa-play"></span></button>
<button type="button" id="step">Step <span class="fa fa-forward"></button>
<button type="button" id="done">Done <span class="fa fa-fast-forward"></button>
<button type="button" id="hold">Disable Auto increment  <span class="fa fa-times"></button>
</div>

<script>
  NProgress.configure({
  speed: 500,
  trickleSpeed: 600,
  showSpinner: false,
  parent: '#container'
});

// NProgress.start();

$('#start').on('click', function() {
  NProgress.start();
});

$('#hold').on('click', function() {
  NProgress.configure({
    trickle: false,
    showSpinner: true,
  });
  NProgress.done(true);
});

$('#step').on('click', function() {
  NProgress.inc(0.2);
});

$('#done').on('click', function() {
  NProgress.done();
});
</script> -->
